extends ./layout/index

block contenido
    .container
        nav.navbar.navbar-light.bg-dark
            .container-fluid
            a.logo(href='#') Entrenadores
        table#tabla-entrenadores.table.table-dark.table-hover(class='bg-dark.bg-gradient tabla-entrenadores')
            thead
            tr
                th(scope='col') ID
                th(scope='col') Nombre
                th(scope='col') Apellido
                th(scope='col') Rol
                th(scope='col')
            each atletas in entrenadores
                each atletas_entrenadores in atleta_entrenador
                    if atletas.id_atleta === atletas_entrenadores.id_atleta 
                        tr
                            td #{atletas.id_atleta}
                            td #{atletas.nombres}
                            td  #{atletas.apellidos}
                            td Afiliado / Entrenador
                            td
                                input.btn.btn-danger(type='button' value='Eliminar' )     
                                //PENDING TO ADD INPUT ID  
                tr
                    td #{atletas.id_atleta}
                    td #{atletas.nombres}
                    td  #{atletas.apellidos}
                    td Afiliado
                    td
                        input.btn.btn-danger(type='button' value='Eliminar' )     
                        //PENDING TO ADD INPUT ID  
            tbody