extends ./layout/index

block contenido
    .container
        nav.navbar.navbar-light.bg-dark
            .container-fluid
            a.logo(href='#') #{pagina}
        
        table#displayTabla.table.table-dark.table-hover(class='bg-dark.bg-gradient')
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Día
                    th(scope='col') Hora Inicio
                    th(scope='col') Hora Final
                    th(scope='col') Clase
            tbody
                each horario in horarios
                    each clase in clases
                        if horario.id_horario === clase.id_clase
                            tr
                                th(scope='row') 1
                                td #{horario.dia}
                                td #{horario.hora_inicio}
                                td #{horario.hora_final}
                                td #{clase.id_clase}
    #botones
